:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-bg-color: #1d1f21;
  --primary-color: #ffffff;
  --secondary-color: #ff983f;
  --card-color: #2c2e30;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.active-link {
  border-bottom: 2px solid var(--secondary-color);
  font-weight: bold;
  color: #ff983f;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.header {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--secondary-color);
}

.logo {
  text-decoration: none;
  font-size: 64px;
  color: var(--secondary-color);
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: x-large;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 24px;
}

.categories {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.category-item {
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 10px;
}
